body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
}

div.header {
	padding: 12px;
}
#toolbar {
	padding: 8px;
}
#slider {
	display: inline-block;
	width: 100px;
	vertical-align: middle;
	margin: 8px;
}

div.main {
	padding:12px;
}
